@media screen and (max-width: 1400px) {
  .inner {
    margin: 0 50px;
  }

  .section-bar {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .section-title {
    font-size: 46px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .inner {
    margin: 0 5%;
  }
}

/* FIX REMOTE */
@media screen and (max-width: 1400px) {
  .fix-remote {
    right: 20px;
  }
}

/* HEADER */
@media screen and (max-width: 1200px) {
  .gnb li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    height: 70px;
  }

  .header-logo {
    width: 80px;
    height: 70px;
  }

  .gnb li {
    margin-left: 25px;
  }

  .gnb li a {
    font-size: 16px;
    line-height: 70px;
  }

  .gnb li a::after {
    bottom: 22px;
  }
}

@media screen and (max-width: 940px) {
  .gnb {
    display: none;
  }

  .mbmenu-btn {
    display: block;
  }

  .header-logo {
    width: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 60px;
  }

  .header-logo {
    width: 80px;
    height: 60px;
  }

  .mbmenu-btn {
    top: 20px;
    width: 22px;
    height: 20px;
  }

  .mbmenu-btn span::after {
    top: -8px;
  }

  .mbmenu-btn span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #333;
    font-size: 0;
  }

  .mbmenu-btn span::before {
    bottom: -8px;
  }

  .mbmenu-btn-close {
    display: block;
    top: 20px;
  }

  .mbmenu-btn-close span {
    background-color: #fff;
  }

  .mbmenu-btn-close span::after {
    left: 12px;
    top: -6px;
    transform: translate(-50%, 150%) rotate(45deg);
  }

  .mbmenu-btn-close span::before {
    left: 12px;
    top: -6px;
    transform: translate(-50%, 150%) rotate(-45deg);
  }

  .mbmenu {
    margin-top: 59px;
  }

  .header-logo {
    width: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 580px) {
  .mbmenu-view {
    width: 250px;
  }

  .mbmenu li {
    height: 70px;
  }

  .mbmenu li a {
    font-size: 24px;
    line-height: 70px;
    margin: 0 35px;
  }
}

/* VISUAL */
@media screen and (max-width: 1400px) {
  .visual .main-visual {
    width: 60%;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .visual .main-visual {
    width: 70%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .visual .main-visual {
    width: 80%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .visual .main-visual {
    width: 100%;
    height: 100%;
  }
}

/* PROFILE */
@media screen and (max-width: 1450px) {
  .myprofile-img {
    height: 29vw;
  }

  .myprofile .myprofile-intro-txt {
    font-size: 13.5px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1220px) {
  .chart-desc {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .profile .inner {
    height: auto;
    padding-bottom: 150px;
  }

  .possivility {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .chart {
    height: 40vw;
    min-height: 200px;
    margin-bottom: 30px;
  }

  .chart-item {
    width: 100%;
  }

  .chart-desc {
    width: 47%;
    float: left;
  }

  .chart-desc:nth-child(2n) {
    margin-left: 6%;
  }

  .myprofile {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .myprofile-img {
    height: 300px;
    background: url("../images/myprofile-img.png") no-repeat 50% 90%;
    background-size: cover;
    margin-top: 60px;
  }

  .myprofile-intro {
    width: calc(92% - 25vw);
    margin-right: 8%;
  }

  .myprofile-item {
    width: 25vw;
  }
}

@media screen and (max-width: 1000px) {
  .chart {
    height: 50vw;
    min-height: 200px;
    margin-bottom: 50px;
  }

  .chart-desc {
    height: 50px;
  }

  .myprofile-img {
    margin-top: 30px;
  }

  .myprofile-intro {
    width: calc(92% - 235px);
    margin-right: 8%;
  }

  .myprofile-item {
    width: 235px;
  }

  .myprofile h3 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 930px) {
  .myprofile-intro {
    width: calc(94% - 235px);
    margin-right: 6%;
  }

  .myprofile h3 {
    margin-bottom: 10px;
  }

  .myprofile-margin {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 830px) {
  .profile .inner {
    padding-bottom: 120px;
  }

  .possivility {
    width: 100%;
  }

  .chart {
    height: 55vw;
    margin-bottom: 50px;
  }

  .chart-desc {
    height: 55px;
  }

  .myprofile {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .profile .section-title {
    margin-bottom: 30px;
  }

  .possivility {
    width: 80%;
    margin: 0 auto;
    float: none;
  }

  .chart {
    height: 65vw;
    margin-bottom: 50px;
  }

  .chart-desc {
    width: 100%;
    height: 40px;
    float: none;
  }

  .chart-desc:nth-child(2n) {
    margin-left: 0%;
  }

  .myprofile {
    width: 80%;
  }

  .myprofile .res-hidden {
    display: none;
  }

  .myprofile-img {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .myprofile-intro {
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 30px;
  }

  .myprofile-item {
    width: 100%;
    float: none;
  }

  .myprofile .myprofile-intro-txt {
    margin: 10px 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .profile .inner {
    padding-bottom: 100px;
  }

  .possivility {
    width: 90%;
  }

  .chart {
    margin-bottom: 30px;
  }

  .chart-desc:nth-child(2n) {
    margin-left: 0%;
  }

  .myprofile {
    width: 90%;
  }

  .myprofile-img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 530px) {
  .possivility {
    width: 100%;
  }

  .chart {
    height: 73vw;
    margin-bottom: 40px;
  }

  .chart-txt p {
    font-size: 12px;
  }

  .myprofile {
    width: 100%;
  }

  .myprofile-img {
    height: 150px;
  }

  .myprofile-intro {
    margin-bottom: 20px;
  }

  .myprofile h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .myprofile-margin {
    margin-bottom: 10px;
  }

  .myprofile p {
    font-size: 12px;
    line-height: 18px;
  }

  .myprofile .myprofile-intro-txt {
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0 5px;
  }
}

@media screen and (max-width: 440px) {
  .possivility {
    width: 100%;
  }

  .chart-desc {
    width: 100%;
    height: 45px;
    float: none;
    margin-bottom: 15px;
  }
}

/* PORTFOLIO */
@media screen and (max-width: 1400px) {
  .portfolio .inner {
    height: fit-content;
    padding-bottom: 50px;
  }

  .port-sw {
    width: 84%;
  }

  .preview {
    height: 22vw;
  }

  .port-mark {
    top: 17.5vw;
  }
}

@media screen and (max-width: 1300px) {
  .preview {
    height: 30vw;
  }

  .port-mark {
    top: 25.1vw;
  }

  .port-cate-item:hover .preview {
    background-size: 101% !important;
    background-position: 50% 10% !important;
  }

  .figma-item:hover .preview {
    background-size: 101% !important;
    background-position: 50% 15% !important;
  }

  .port-btn-prev {
    top: 45vw;
  }

  .port-btn-next {
    top: 45vw;
  }
}

@media screen and (max-width: 1100px) {
  .portfolio .inner {
    height: auto;
    padding-bottom: 30px;
  }

  .port-sw {
    width: 80%;
  }

  .port-mark {
    top: 24.1vw;
  }

  .port-btn-prev {
    top: 50vw;
  }

  .port-btn-next {
    top: 50vw;
  }
}

@media screen and (max-width: 960px) {
  .port-mark {
    top: 23.5vw;
  }
}

@media screen and (max-width: 860px) {
  .portfolio-menu li {
    display: none;
  }

  .portfolio-mb-menu {
    display: block;
  }

  .design-menu li {
    display: none;
  }

  .design-mb-menu {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .port-mark {
    top: 22.5vw;
  }

  .port-cate-item h5 {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .port-cate-item p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .port-btn a {
    height: 26px;
    border-radius: 13px;
    font-size: 12px;
    line-height: 26px;
    margin-right: 2px;
  }

  .port-btn-prev {
    top: 52vw;
  }

  .port-btn-next {
    top: 52vw;
  }

  .port-btn-prev img {
    width: 40px;
    height: 100px;
  }

  .port-btn-next img {
    width: 40px;
    height: 100px;
  }
}

@media screen and (max-width: 750px) {
  .preview {
    height: 55vw;
  }

  .port-cate-item h5 {
    font-size: 19px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .port-cate-item p {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 25px;
  }

  .port-btn a {
    display: inline-block;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 800;
    font-family: "Noto Sans", sans-serif;
    line-height: 30px;
    background: #eee;
    padding: 0 5%;
    margin-right: 3px;
    transition: transform 0.3s;
  }

  .port-mark {
    top: 46vw;
  }

  .port-sw {
    width: 70%;
  }

  .port-cate-item:hover .preview {
    background-size: 103% !important;
    background-position: 50% 10% !important;
  }

  .figma-item:hover .preview {
    background-size: 103% !important;
    background-position: 50% 10% !important;
  }

  .port-btn-prev {
    top: 70vw;
  }

  .port-btn-next {
    top: 70vw;
  }
}

@media screen and (max-width: 630px) {
  .port-cate-item h5 {
    font-size: 18px;
  }

  .port-cate-item p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .port-btn a {
    height: 26px;
    border-radius: 13px;
    font-size: 12px;
    line-height: 26px;
    margin-right: 1.5px;
  }

  .port-mark {
    top: 44.5vw;
  }

  .port-btn-prev {
    top: 75vw;
  }

  .port-btn-next {
    top: 75vw;
  }
}

@media screen and (max-width: 550px) {
  .port-cate-item h5 {
    font-size: 16px;
  }

  .port-cate-item p {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .port-mark {
    top: 43.2vw;
  }

  .port-btn-prev img {
    width: 30px;
    height: 75px;
  }

  .port-btn-next img {
    width: 30px;
    height: 75px;
  }

  .port-btn-prev {
    top: 83vw;
  }

  .port-btn-next {
    top: 83vw;
  }

  .port-pagination .swiper-pagination-bullet {
    width: 8.5px;
    height: 8.5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 500px) {
  .port-sw {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .port-mark {
    top: 42vw;
  }

  .port-btn-prev {
    top: 90vw;
  }

  .port-btn-next {
    top: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .port-cate-item h5 {
    font-size: 14px;
  }

  .port-cate-item p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .port-btn a {
    height: 22px;
    border-radius: 11px;
    font-size: 10px;
    line-height: 22px;
    margin-right: 0.5px;
  }

  .port-mark {
    top: 40vw;
  }

  .port-btn-prev img {
    width: 20px;
    height: 60px;
  }

  .port-btn-next img {
    width: 20px;
    height: 60px;
  }

  .port-btn-prev {
    top: 110vw;
  }

  .port-btn-next {
    top: 110vw;
  }
}

@media screen and (max-width: 350px) {
  .port-mark {
    top: 38vw;
  }

  .port-btn-prev {
    top: 120vw;
  }

  .port-btn-next {
    top: 120vw;
  }
}

/* DESIGN */
@media screen and (max-width: 1400px) {
  .design .inner {
    height: fit-content;
    padding-bottom: 150px;
  }

  .design-sw {
    width: 84%;
  }

  .draw-chris {
    width: 100%;
  }

  .draw-new {
    display: none;
  }

  .design-pagination {
    bottom: 150px;
  }
}

@media screen and (max-width: 1390px) {
  .branding-txt {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1250px) {
  .branding-txt {
    width: calc(100% - 530px);
    margin-left: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .branding-txt h5 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .branding-txt p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .design .inner {
    height: auto;
    padding-bottom: 150px;
  }

  .design-sw {
    width: 80%;
  }

  .design-pagination {
    bottom: 150px;
  }

  .branding-img {
    width: 40vw;
    float: left;
  }

  .branding-img img {
    display: block;
    width: 40vw;
  }

  .branding-txt {
    width: calc(100% - 50px - 40vw);
    margin-left: 50px;
    margin-top: 10vw;
  }

  .branding-txt h5 {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .branding-txt p {
    font-size: 12px;
  }

  .symbol-desc {
    margin-right: 5%;
  }

  .symbol-desc p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .symbol-mockup {
    width: 41%;
  }

  .mock-up-kimslong {
    width: 41%;
  }

  .edit-desc {
    margin-right: 5%;
    margin-top: 7vw;
  }

  .edit-desc h5 {
    margin-bottom: 30px;
  }

  .edit-desc p {
    font-size: 15px;
  }

  .edit-brochure-1 {
    height: 44.54vw;
  }

  .edit-brochure-2 {
    height: 44.54vw;
  }

  .edit-brochure-3 {
    height: 44.54vw;
  }

  .draw-left {
    width: calc(100% - 25vw - 30px);
  }

  .draw-insta {
    width: 25vw;
  }

  .design-pagination {
    bottom: 140px;
  }
}

@media screen and (max-width: 1000px) {
  .branding-img {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .branding-img img {
    width: 55.5%;
    float: left;
  }

  .branding-img .mock-up {
    width: 39.5%;
    float: left;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .branding-txt {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-top: 50px;
  }

  .branding-txt h5 {
    font-size: 18px;
  }

  .branding-txt p {
    font-size: 15px;
  }

  .symbol-desc {
    width: 100%;
    margin: 0 auto;
    float: none;
  }

  .symbol-desc h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .symbol-mockup {
    display: none;
  }

  .mock-up-kimslong {
    display: none;
  }

  .edit-desc {
    margin-top: 5vw;
  }
}

@media screen and (max-width: 900px) {
  .design-edit {
    width: 90%;
  }

  .edit-desc {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    float: none;
  }

  .edit-desc h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .edit-desc p {
    display: none;
  }

  .edit-brochure-1 {
    width: 100%;
    float: none;
    height: 42vw;
  }

  .edit-brochure-2 {
    width: 100%;
    float: none;
    height: 42vw;
  }

  .edit-brochure-3 {
    width: 100%;
    float: none;
    height: 42vw;
  }
}

@media screen and (max-width: 850px) {
  .design-btn-prev img {
    width: 40px;
    height: 100px;
  }

  .design-btn-next img {
    width: 40px;
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  .edit-brochure-1 {
    min-height: 340px;
  }

  .edit-brochure-2 {
    min-height: 340px;
  }

  .edit-brochure-3 {
    min-height: 340px;
  }

  .draw-left {
    width: calc(100% - 25vw - 20px);
    min-height: 380px;
  }

  .draw-blue {
    margin-bottom: 20px;
    height: calc((100% - 20px) / 2);
  }

  .draw-chris {
    width: 100%;
    margin-right: 20px;
    height: calc((100% - 20px) / 2);
  }

  .draw-new {
    display: none;
    height: calc((100% - 20px) / 2);
  }

  .draw-insta {
    min-height: 340px;
    margin-left: 20px;
    min-height: 380px;
  }
}

@media screen and (max-width: 730px) {
  .edit-brochure-1 {
    min-height: 370px;
  }

  .edit-brochure-2 {
    min-height: 370px;
  }

  .edit-brochure-3 {
    min-height: 370px;
  }

  .branding-img {
    width: 85%;
  }

  .branding-img img {
    width: 100%;
    margin-bottom: 30px;
  }

  .branding-img .mock-up {
    display: none;
  }

  .branding-txt {
    width: 85%;
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }

  .branding-txt h5 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .branding-txt p {
    font-size: 14px;
  }

  .symbol-kimslong {
    min-height: 120px;
  }

  .symbol-sungju {
    min-height: 120px;
  }

  .symbol-think {
    min-height: 120px;
  }

  .draw-left {
    width: 100%;
    float: none;
    min-height: 410px;
  }

  .draw-insta {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .branding-img {
    width: 80%;
  }

  .branding-txt {
    width: 80%;
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }

  .branding-txt h5 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .branding-txt p {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 550px) {
  .design-sw {
    width: 75%;
  }

  .design-btn-prev {
    bottom: 42%;
  }

  .design-btn-next {
    bottom: 42%;
  }

  .design-btn-prev img {
    width: 30px;
    height: 75px;
  }

  .design-btn-next img {
    width: 30px;
    height: 75px;
  }
}

@media screen and (max-width: 530px) {
  .design-sw {
    width: 75%;
  }

  .branding-img {
    width: 95%;
  }

  .branding-txt {
    width: 95%;
  }

  .branding-txt h5 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .design-btn-prev {
    bottom: 41%;
  }

  .design-btn-next {
    bottom: 41%;
  }

  .design-pagination .swiper-pagination-bullet {
    width: 8.5px;
    height: 8.5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 400px) {
  .design-btn-prev img {
    width: 20px;
    height: 60px;
  }

  .design-btn-next img {
    width: 20px;
    height: 60px;
  }

  .symbol-desc span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 0;
    margin-right: 8px;
  }
}

/* ABOUT */
@media screen and (max-width: 1800px) {
  .mbti-wrap {
    left: -12%;
  }
}

@media screen and (max-width: 1700px) {
  .mbti-wrap {
    left: -10%;
  }

  .mbti-txt {
    left: 100px;
  }
}

@media screen and (max-width: 1600px) {
  .mbti-wrap {
    left: -8%;
  }
}

@media screen and (max-width: 1200px) {
  .about .inner {
    height: 880px;
  }

  .about-wrap {
    top: 280px;
  }

  .about-item p {
    font-size: 12px;
  }

  .about-1 {
    display: none;
  }

  .about-2 {
    width: 100%;
  }

  .about-3 {
    display: none;
  }

  .about-5 {
    width: calc(((70% - 40px) / 3) * 2);
  }

  .about-6 {
    width: calc((70% - 40px) / 3);
  }

  .mbti-txt {
    left: 50px;
    bottom: 200px;
  }

  .mbti-desc h4 {
    font-size: 15px;
  }

  .mbti-desc p {
    font-size: 11px;
  }

  .mbti-txt-bg {
    left: -5px;
    top: 38px;
    height: 65%;
  }

  .mbti-img {
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 900px) {
  .about .inner {
    height: 110vw;
  }

  .about-wrap {
    top: 230px;
    width: 100%;
  }

  .mbti-wrap {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .about-wrap {
    top: 200px;
    width: 100%;
  }

  .about-item {
    height: 32vw;
  }
}

@media screen and (max-width: 650px) {
  .about .inner {
    height: 120vw;
  }
}

@media screen and (max-width: 500px) {
  .about .inner {
    height: 125vw;
  }
}

@media screen and (max-width: 400px) {
  .about .inner {
    height: 135vw;
  }
}

/* SKILLS */
@media screen and (max-width: 1400px) {
  .skill-sw {
    width: 84%;
    height: 16vw;
  }
}

@media screen and (max-width: 1300px) {
  .skill-sw {
    height: 20.5vw;
  }

  .skill-sw .swiper-slide span {
    top: 42%;
  }

  .skill-pagination {
    top: 50vw;
  }

  .skill-btn-prev {
    top: 350px;
  }

  .skill-btn-next {
    top: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .skill-sw .swiper-slide span {
    top: 45%;
  }

  .skill-pagination {
    top: 55vw;
  }
}

@media screen and (max-width: 1100px) {
  .skills .inner {
    height: 65vw;
  }

  .skills .section-title {
    padding-top: 100px;
  }

  .skill-sw {
    width: 80%;
    height: 19vw;
  }

  .skill-sw .swiper-slide span {
    top: 50%;
  }

  .skill-pagination {
    top: 51vw;
  }

  .skill-btn-prev {
    top: 27vw;
  }

  .skill-btn-next {
    top: 27vw;
  }
}

@media screen and (max-width: 990px) {
  .skill-sw {
    margin: 70px auto;
  }

  .skill-sw .swiper-slide span {
    font-size: 14px;
    top: 55%;
  }

  .skill-btn-prev {
    top: 28vw;
  }

  .skill-btn-next {
    top: 28vw;
  }
}

@media screen and (max-width: 900px) {
  .skills .inner {
    height: 80vw;
  }

  .skill-sw {
    height: 27.5vw;
  }

  .skill-sw .swiper-slide span {
    font-size: 16px;
    top: 45%;
  }

  .skill-pagination {
    top: 65vw;
  }

  .skill-btn-prev {
    top: 31.5vw;
  }

  .skill-btn-next {
    top: 31.5vw;
  }
}

@media screen and (max-width: 850px) {
  .skill .inner {
    padding-bottom: 120px;
  }

  .skill-btn-prev img {
    width: 40px;
    height: 100px;
  }

  .skill-btn-next img {
    width: 40px;
    height: 100px;
  }

  .skill-btn-prev {
    top: 37vw;
  }

  .skill-btn-next {
    top: 37vw;
  }
}

@media screen and (max-width: 800px) {
  .skills .inner {
    height: 70vw;
  }

  .skill-sw .swiper-slide span {
    font-size: 16px;
    top: 50%;
  }

  .skill-pagination {
    top: 51vw;
  }

  .skills .section-title {
    padding-top: 0px;
  }

  .skill-btn-prev {
    top: 24vw;
  }

  .skill-btn-next {
    top: 24vw;
  }
}

@media screen and (max-width: 750px) {
  .skills .inner {
    height: 80vw;
  }

  .skill-pagination {
    top: 55vw;
  }
}

@media screen and (max-width: 700px) {
  .skill-sw .swiper-slide span {
    font-size: 16px;
    top: 55%;
  }
}

@media screen and (max-width: 630px) {
  .skills .inner {
    padding-bottom: 100px;
    height: 95vw;
  }

  .skills .section-title {
    padding-top: 50px;
  }

  .skill-sw {
    height: 25.5vw;
  }

  .skill-sw .swiper-slide span {
    font-size: 13px;
    top: 60%;
  }

  .skill-pagination {
    top: 65vw;
  }

  .skill-btn-prev {
    top: 35vw;
  }

  .skill-btn-next {
    top: 35vw;
  }
}

@media screen and (max-width: 600px) {
  .skill-sw .swiper-slide span {
    top: 65%;
  }

  #pro1 {
    background: url("../images/skill-html.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro2 {
    background: url("../images/skill-css.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro3 {
    background: url("../images/skill-js.png") no-repeat 50% 33%;
    background-size: 30%;
  }

  #pro4 {
    background: url("../images/skill-jq.png") no-repeat 50% 35%;
    background-size: 35%;
  }

  #pro5 {
    background: url("../images/skill-vue.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro6 {
    background: url("../images/skill-sass.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro7 {
    background: url("../images/skill-figma.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro8 {
    background: url("../images/skill-git.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro9 {
    background: url("../images/skill-photoshop.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro10 {
    background: url("../images/skill-illustrator.png") no-repeat 50% 35%;
    background-size: 30%;
  }

  #pro11 {
    background: url("../images/skill-indesign.png") no-repeat 50% 35%;
    background-size: 30%;
  }
}

@media screen and (max-width: 550px) {
  .skill-btn-prev img {
    width: 30px;
    height: 75px;
  }

  .skill-btn-next img {
    width: 30px;
    height: 75px;
  }

  .skill-pagination {
    top: 68vw;
  }

  .skill-btn-prev {
    top: 37vw;
  }

  .skill-btn-next {
    top: 37vw;
  }

  .skill-pagination .swiper-pagination-bullet {
    width: 8.5px;
    height: 8.5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 530px) {
  .skill-sw {
    width: 85%;
    height: 28vw;
    margin: 9vw auto;
  }
}

@media screen and (max-width: 500px) {
  .skill-sw .swiper-slide span {
    font-size: 12px;
    top: 70%;
  }
}

@media screen and (max-width: 430px) {
  .skill-sw .swiper-slide span {
    top: 75%;
  }
}

@media screen and (max-width: 400px) {
  .skills .section-title {
    padding-top: 50px;
  }

  .skill-sw {
    height: 30vw;
    margin: 8vw auto;
  }

  #pro1 {
    background: url("../images/skill-html.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro2 {
    background: url("../images/skill-css.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro3 {
    background: url("../images/skill-js.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro4 {
    background: url("../images/skill-jq.png") no-repeat 50% 28%;
    background-size: 35%;
  }

  #pro5 {
    background: url("../images/skill-vue.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro6 {
    background: url("../images/skill-sass.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro7 {
    background: url("../images/skill-figma.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro8 {
    background: url("../images/skill-git.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro9 {
    background: url("../images/skill-photoshop.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro10 {
    background: url("../images/skill-illustrator.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  #pro11 {
    background: url("../images/skill-indesign.png") no-repeat 50% 28%;
    background-size: 30%;
  }

  .skill-btn-prev img {
    width: 20px;
    height: 60px;
  }

  .skill-btn-next img {
    width: 20px;
    height: 60px;
  }

  .skill-btn-prev {
    top: 40vw;
  }

  .skill-btn-next {
    top: 40vw;
  }

  .skill-pagination {
    top: 68vw;
  }
}

@media screen and (max-width: 350px) {
  .skill-btn-prev {
    top: 42vw;
  }

  .skill-btn-next {
    top: 42vw;
  }
}

/* CONTACT */
@media screen and (max-width: 600px) {
  .contact .inner {
    height: 160px;
  }

  .footer-wrap {
    top: 40px;
  }

  .footer-item a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
  }

  .footer-item a:last-child {
    margin-right: 0;
  }

  .footer-item a:first-child i {
    font-size: 18px;
    line-height: 40px;
  }

  .footer-item a:nth-child(2) i {
    font-size: 17px;
    line-height: 40px;
  }

  .footer-item a:nth-child(3) i {
    font-size: 15px;
    line-height: 42px;
    padding-right: 5px;
  }

  .contact .inner > p {
    font-size: 10px;
    padding-top: 110px;
  }
}

@media screen and (max-width: 450px) {
  .contact .inner {
    height: 130px;
  }

  .footer-wrap {
    top: 30px;
  }

  .footer-item a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
  }

  .footer-item a:first-child i {
    font-size: 16px;
    line-height: 36px;
  }

  .footer-item a:nth-child(2) i {
    font-size: 15px;
    line-height: 36px;
  }

  .footer-item a:nth-child(3) i {
    font-size: 13.2px;
    line-height: 37px;
    padding-right: 4px;
  }

  .contact .inner > p {
    font-size: 9px;
    padding-top: 85px;
  }
}
